*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 90vh;
    width: 100%;
    /* background-color: black;
    color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 20px;

}

.color{
    height: 100px;
    width: 100px;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
