*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(238, 130, 238, 0.452);
}
.digital-container{
    background-color: whitesmoke;
    height: 50vh;
    width: 60vh;
    border-radius: 20px;
    padding: 2rem;
    text-align: center;
}
h1{
    border-bottom: 1px solid black;
    padding: 1rem;
}
.digital-clock{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height:50px;
    border-radius: 20px;
    margin-top: 50px;
    font-size: 2rem;
}